<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>netiq</key>
    <dict>
        <key>consumerKey</key>
        <string>464239f0-cd87-406f-9fef-4c5aed68c834</string>
        <key>consumerSecret</key>
        <string>L-5Z51jzE9Hc_1P5FH6U93PwLjk3MW-jxG5p1ywvNfjsSDIOoGsF6qsyYA7-vEPbC7rssCmx7Y57P0kn6VU9wg</string>
    </dict>
</dict>
</plist>
